In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('StudentPerformanceFactors_Cleaned.csv')
df

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6372,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6373,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6374,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6375,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6376,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
categorical_columns = df.select_dtypes(include=["object"]).columns

In [30]:
label_encoder = {}
for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoder[col] = le

In [31]:
df

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,1,0,0,7,73,1,1,0,1,2,1,2,3,0,1,2,1,67
1,19,64,1,2,0,8,59,1,1,2,2,2,1,0,4,0,0,1,0,61
2,24,98,2,2,1,7,91,2,1,2,2,2,1,1,4,0,2,2,1,74
3,29,89,1,2,1,8,98,2,1,1,2,2,1,0,4,0,1,1,1,71
4,19,92,2,2,1,6,65,2,1,3,2,0,1,1,4,0,0,2,0,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6372,25,69,0,2,0,7,76,2,1,1,0,2,1,2,2,0,1,2,0,68
6373,23,76,0,2,0,8,81,2,1,3,1,0,1,2,2,0,1,2,0,69
6374,20,90,2,1,1,6,65,1,1,3,1,2,1,0,2,0,2,2,0,68
6375,10,86,0,0,1,6,91,0,1,2,1,2,0,2,3,0,1,0,0,68
6376,15,67,2,1,1,9,94,2,1,0,2,2,1,2,4,0,2,2,1,64

In [32]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [33]:
X

array([[23, 84,  1, ...,  1,  2,  1],
       [19, 64,  1, ...,  0,  1,  0],
       [24, 98,  2, ...,  2,  2,  1],
       ...,
       [20, 90,  2, ...,  2,  2,  0],
       [10, 86,  0, ...,  1,  0,  0],
       [15, 67,  2, ...,  2,  2,  1]], dtype=int64)

In [34]:
y

array([67, 61, 74, ..., 68, 68, 64], dtype=int64)

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state=0)

In [36]:
import xgboost as xgb

In [37]:
regressor = xgb.XGBRegressor(tree_method = "gpu_hist",device = "cuda")
regressor.fit(X_train,y_train)

C:\Users\U-ser\Downloads\New folder\envs\ev_2\lib\site-packages\xgboost\core.py:158: UserWarning: [00:21:50] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0ed59c031377d09b8-1\xgboost\xgboost-ci-windows\src\common\error_msg.cc:27: The tree method `gpu_hist` is deprecated since 2.0.0. To use GPU training, set the `device` parameter to CUDA instead.

    E.g. tree_method = "hist", device = "cuda"

  warnings.warn(smsg, UserWarning)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device='cuda', early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [38]:
first_row_features = X[0].reshape(1, -1)  # Access the first row and reshape it
actual_outcome = y[0]  # Access the first value in the target array
predicted_outcome = regressor.predict(first_row_features)
print("Actual outcome for the first row:", actual_outcome)
print("Predicted outcome for the first row:", predicted_outcome)

Actual outcome for the first row: 67
Predicted outcome for the first row: [67.007065]

In [39]:
second_row_features = X[1].reshape(1, -1)  # Access the second row and reshape it
actual_outcome = y[1]  # Access the second value in the target array
predicted_outcome = regressor.predict(second_row_features)
print("Actual outcome for the second row:", actual_outcome)
print("Predicted outcome for the secomd row:", predicted_outcome)

Actual outcome for the second row: 61
Predicted outcome for the secomd row: [60.97036]

In [40]:
third_row_features = X[2].reshape(1, -1)  # Access the third row and reshape it
actual_outcome = y[2]  # Access the third value in the target array
predicted_outcome = regressor.predict(third_row_features)
print("Actual outcome for the third row:", actual_outcome)
print("Predicted outcome for the third row:", predicted_outcome)

Actual outcome for the third row: 74
Predicted outcome for the third row: [74.47783]

In [41]:
from sklearn.metrics import mean_absolute_error
y_pred = regressor.predict(X_test)
mae = mean_absolute_error(y_test,y_pred)
print("Mean absolue error is",mae)

Mean absolue error is 0.9997352313098489

In [42]:
from sklearn.metrics import mean_squared_error
y_pred = regressor.predict(X_test)
mse = mean_squared_error(y_test,y_pred)
print("Mean Squared Error is", mse)

Mean Squared Error is 5.269425203261636

In [43]:
from sklearn.metrics import mean_squared_error
import numpy as np
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error is ", rmse)

Root Mean Squared Error is  2.2955228605399762

In [44]:
from sklearn.metrics import r2_score
y_pred = regressor.predict(X_test)
R_2 = r2_score(y_test,y_pred)
print("R squared score is",R_2)

R squared score is 0.6436640045393383